body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 2px solid #db1010;
    background-color: #a0e983;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 10px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -63px;
    text-align: right;
  }
  input.ng-touched.ng-invalid{
    border: 1px solid red;
  }

          
  